{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2>Edit Profile</h2>
  <form method="POST">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {{ user_form.as_p }}
    <h3>Change Password</h3>
    {{ password_form.as_p }}
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div>

{% endblock content %}
